  {% comment %}<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
    {{ current_sort_label }} <span class="caret"></span>
  </button>
  {% endcomment %}
  <div class="order" >
    {% for sort_link in sort_link_list %}
            <a {% if sort_link.indicator %}class="order-select disabled"{% endif %} href="{% if not sort_link.indicator %}{{ sort_link.path }}{% endif %}"
            >
                {{ sort_link.title }}
            </a>
    {% endfor %}
  </div>
