{% extends 'leaflet/widget.html' %}

{% block callback %}

if(current_location){
    map.fitBounds(current_location);
}
else {
    map.setView([48.86, 2.33], 12);
}

$('.localize').on('click', function(evt){
    //$(this).button('loading');
    if (navigator.geolocation) {
        navigator.geolocation.getCurrentPosition(function(position) {
            //$(".localize").button('reset');
            var latlng = new L.LatLng(position.coords.latitude, position.coords.longitude);
            map.setView(latlng, 14);
            enableAutoLocationZone(latlng, "geolocated");
        }, function(error){
            // We use IP to center the map - http://freegeoip.net/json/
            var req = new XMLHttpRequest();
            req.open('GET', 'http://freegeoip.net/json/', true);
            req.onload = function (e) {
                var json = JSON.parse(e.target.responseText);
                var latlng = new L.LatLng(json.latitude, json.longitude);
                map.setView(latlng, 14);
                enableAutoLocationZone(latlng, "geolocated");
                //$(".localize").button('reset');
            };
            req.onerror = function(e){
                //$(".localize").button('reset');
            }
            req.send(null);
        });
    }else{
        //$(".localize").button('reset');
        l.stop();
    }
})
$('.address_localize').on('click', function(evt){
    //$(this).button('loading');
    var address = document.getElementById("address").value;
    var self = this;
    $.ajax({
        url: "http://nominatim.openstreetmap.org/search/"+address+' ',
        data: {format: 'json', addressdetails:'1', limit:'1', countrycodes:'fr', polygon:'1', json_callback:'jsonpCallback'},
        dataType: 'jsonp',
        jsonp: 'callback',
        jsonpCallback: "jsonpCallback",
        success: function(data){
            //$(self).button('reset');
            if(data.length > 0){
    // Result
    var latlng = new L.LatLng(data[0].lat, data[0].lon);
    map.setView(latlng, 14);
    enableAutoLocationZone(latlng, address);
}else{
    // no results
    $("#address").attr('placeholder', 'adresse erronée, indiquer une adresse valide').val('')
}
    // below, to create a geo for the address search based on nominatin json
    // console.log(L.geoJSON.coordsToLatlngs(data[0].polygonpoints))
}
});
    return false;

});
var marker;
$('.show-marker').on('click', function(evt){
    evt.stopPropagation();
    if(marker !== undefined){
        map.removeLayer(marker);
    }
    var lng = $(this).data('lng');
    var lat = $(this).data('lat');
    marker = L.marker([lng, lat]).addTo(map);
    marker.href = $(this).data('href');
    marker.on('click', function(evt){
        window.open(this.href);
    });
    map.setView([lng, lat], 13);
    window.location.hash = "#id_location_map"
})

enableAutoLocationZone = function(latlng, address){
    var latlng = latlng;
    $('#auto-zone').addClass('show');
    if(address !== 'geolocated')
        $('#user-address').html('autour de : '+address)
    $('#user-address').removeClass('hidden');
    $('#auto-zone label').on('click', function(){
        var bounds = L.circle(latlng, parseInt($(this).data('radius'))*1000/2).getBounds();
        var latMin = bounds._southWest.lat;
        var lngMin = bounds._southWest.lng;
        var latMax = bounds._northEast.lat;
        var lngMax = bounds._northEast.lng;
        var pointA = new L.LatLng(latMin, lngMin);
        var pointB = new L.LatLng(latMax, lngMin);
        var pointC = new L.LatLng(latMax, lngMax);
        var pointD = new L.LatLng(latMin, lngMax);
        var layer = L.multiPolygon([[pointA, pointB, pointC, pointD, pointA]]);
        // We remove the previously created layers
        field.drawnItems.clearLayers();
        // We add layer to the store
        field.store.save(layer);
        // We 're'load the field to add the layer to the map
        field.load();
    })
}

{% endblock %}
