
{% if is_paginated %}
<div class="pagination">
    {% if page_obj.has_previous %}
    <a href="?page={{ page_obj.previous_page_number }}{{ urlencode_get }}">&laquo;</a>
    {% else %}
    <a class="disabled">&laquo;</a>
    {% endif %}
    {% for i in paginator_page_range %}
    <a class="{% if page_obj.number == i %}active{% endif %}" href="?page={{ i }}{{ urlencode_get }}">{{ i }}</a>
    {% endfor %}
    {% if page_obj.has_next %}
    <a href="?page={{ page_obj.next_page_number }}{{ urlencode_get }}">&raquo;</a>
    {% else %}
     <a class="disabled">&raquo;</a>
    {% endif %}
</div>
{% endif %}
