
{% if is_paginated %}
<ul class="pagination">
    {% if page_obj.has_previous %}
    <li><a href="?page={{ page_obj.previous_page_number }}{{ urlencode_get }}">&laquo;</a></li>
    {% else %}
    <li class="disabled"><a>&laquo;</a></li>
    {% endif %}
    {% for i in paginator_page_range %}
    <li {% if page_obj.number == i %}class="active"{% endif %}><a href="?page={{ i }}{{ urlencode_get }}">{{ i }}</a></li>
    {% endfor %}
    {% if page_obj.has_next %}
    <li><a href="?page={{ page_obj.next_page_number }}{{ urlencode_get }}">&raquo;</a></li>
    {% else %}
    <li class="disabled"><a>&raquo;</a></li>
    {% endif %}
</ul>
{% endif %}
