/* Positions */

/* Sticky footer */

body {
  min-height: 100vh;
  .flex-display;
  .flex-direction(column);
}

footer, header, main {
  .flex-display;
  .justify-content(space-between);
  .flex-wrap(wrap);
  margin-left: auto;
  margin-right: auto;
  box-sizing: border-box;
  .responsive-width;
}

main {
  .flex(1);
}

/* Main general templates */

main {
  /* Add padding on extra small devices */
  padding:10px;

  &.form {
    > div {
      .responsive-width(100%, 100%, 75%, 66%);
      .center-div;
    }
  }
  &.detail{
    > div {
      .responsive-width(100%, 100%, 75%, 66%);
    }
  }
  &.search {
    .flex-direction(column);
    > div {
      .flex(1);
    }
    > div.results {
      .flex-display;
      .flex-direction(column);
      > * {
        box-sizing: border-box;
        .responsive-width(100%, 100%, 66%, 66%);
      }
    }
    > form.ad-search {
      .flex-display;
      @media(max-width:@screen-xs-max){
        .flex-direction(column);
      }
      .map-side {
        @media(min-width:@screen-sm-min){
          margin-right:10px;
        }
        .flex(2/3);
        .flex-display;
        .flex-direction(column);
        .justify-content(space-between);
        #auto-zone {
          //.flex-display;
          display:none;
          .align-items(baseline);
        }
        #auto-zone.show{
          .flex-display;
        }
      }
      .fields-side {
        .flex(1/3);
        .flex-display;
        .flex-direction(column);
        .justify-content(space-between);
      }
    }
    > form.search-search {
      .flex-display;
      .justify-content(space-between);
      .flex-wrap(wrap);
      @media(max-width:@screen-xs-max){
        .flex-direction(column);
        .align-items(stretch);
      }
    }
  }
  .second-nav {
    .flex-display;
    .justify-content(space-around);
    .align-items(center);
    a {
      .flex(1);
    }
  }
  .ad-form {
    .flex-display;
    .flex-direction(column);
    form {
      .flex-display;
      .flex-direction(column);
    }
  }
}

/* Header specific */

header div, header nav  {
  .flex-display;
  > div {
    .flex-display;
    > a:not(.brand) {
     .flex-display;
     .flex-direction(column);
     .align-items(center);
     .justify-content(center);
     text-align: center;
   }
 }
}

/* Footer specific */

footer > div, footer nav {
  .flex-display;
  > a {
   .flex-display;
   .flex-direction(column);
   .align-items(center);
   .justify-content(center);
   text-align: center;
 }
}


.media {
  .flex-display;
  @media(max-width:@screen-xs-max){
    .flex-direction(column);
  }
  .pull-left {
    margin-right:10px;
  }
  .media-body {
    .flex-display;
    .flex(1);
    .flex-direction(column);
    .justify-content(space-between);
    h4 {
      margin-top: 0;
    }
  }
}

/* Style */

main {
}

.header-back {
  background-color: #222;
  border-bottom: @border-width solid #FFB82E;
}

.footer-back {
  background-color: #222;
  border-top: @border-width solid #FFB82E;
  color: white;
  a {
    padding: 10px 15px;
    color:#9D9D9D;
  }
}


footer > div, footer > nav {
  > a:not(.brand) {
   color:#9D9D9D;
   padding: 10px 15px;
 }
 > a:hover {
  text-decoration: none;
  color: white;
}
}

header > div, header > nav, footer > nav {
  > a:not(.brand) {
   color:@font-color-inactive-inverse;
   padding: 10px 15px;
 }
 > a:hover {
  text-decoration: none;
  color: white;
}
> a.active {
  color:@font-color-active-inverse;
}
> a.brand {
  padding-right: 10px;
}
}

header > div {
  .flex-display;
  .justify-content(space-between);
}

.second-nav {
  a {
    padding: 20px 20px;
    text-align: center;
    font-size: 1.1em;
  }
  a:not(.active) {
    border-bottom: @border-width solid @palette-Blue-Grey-200;
    color:@palette-Blue-Grey-200;
  }
  a.active {
    color:@palette-Teal-700;
    border-bottom: @border-width solid @palette-Teal-700;
    background-color: white;
  }
}

.ad-form {
  @media(max-width:@screen-xs-max){
    margin:10px;
  }
  @media(min-width:@screen-sm-min){
    width: 700px;
    margin: 0 auto;
  }
}

main h2 {
  padding: 0;
}
