//@import "../bootstrap/less/bootstrap.less";

@screen-sm-min: 768px;
@screen-md-min: 992px;
@screen-lg-min: 1200px;
@screen-xs-max: 767px;

@container-xs: 100%;
@container-sm: 750px;
@container-md: 970px;
@container-lg: 1170px;

@import "normalize.less";
@import "flexbox.less";
@import "containers.less";
@import "fields.less";
@import "palette.less";
@import "variables.less";
@import "tabs.less";

body {
  font-size: 0.88em;
}

.hidden {
  visibility:collapse;
}

// Alerts

.alert {
  padding:10px;
  margin-top:5px;
  margin-bottom: 10px;
}

.alert-variant(@color) {
  &{
    .palette(@color, '50');
    background-color: @palette;
  }
  &{
    .palette(@color, '500');
    border-bottom: @border-width solid @palette;
  }
  &{
    .palette(@color, '600');
    color: @palette;
    hr {
      border-top-color: @palette;
    }
  }
  & a {
    .palette(@color, '700');
    color: darken(@palette, 10%);
    font-weight: bold;
  }
}



.alert.alert-success {
  .alert-variant('Green')
}
.alert.alert-info {
  .alert-variant('Blue')
}
.alert.alert-warning {
  .alert-variant('Orange')
}
.alert.alert-danger {
  .alert-variant('Red')
}


.sr-only {
  display: none;
}

@link-color: #20B2AB;
@secondColor: #FFB82E;
@brand-primary: #20B2AB;
@verySofthColor: #f4f4f4;

@font-face {
  font-family: Cafeta;
  src: url('/static/font/cafeta.ttf');
}

@font-face {
  font-family: TypoSlabserif;
  src: url('/static/font/TypoSlabserif-Light.ttf');
}

.navbar .navbar-brand, .brand {
  color: white;
  font-family: Cafeta,sans-serif;
  font-size: 2em;
}

.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus {
  color: #FFF;
  background-color: @brand-primary;
}

.container h2, .container h3, .container h4 {
  font-family: "Open Sans",Helvetica,Arial,sans-serif;
}

.price {
  color: @brand-primary;
}

.relative {
  position: relative;
}

.label.bottom-right {
  position: absolute;
  right: 0px;
  bottom: 0px;
}

.label.top-left {
  position: absolute;
  left: 0px;
  top: 14px;
}

.ad-preview, .ad-small, .search-small {
  cursor: pointer
}

.order-select {
  background-color: @brand-primary;
}


#search_header {
  background-color: @secondColor;
}


.sanscom_font {
  color:@secondColor;
}

.icon-map-custommarker {
  background-image: url("../img/icon-apartment.png");
  background-position: 0;
}

form li {
  list-style: none;
}

form li label {
  font-weight: normal;
}

form ul {
  padding: 0;
  margin: 0;
}

.table tr {
  cursor: pointer;
}

#icon-draw{
  background-color: #FFF;
  background-image: url("/static/leaflet/draw/images/spritesheet-2x.png");
  background-position: -31px -2px;
  background-repeat: no-repeat;
  background-size: 270px 30px;
  border-bottom-color: #000;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  border-bottom-style: none;
  border-bottom-width: 0px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  box-sizing: border-box;
  color: #000;
  cursor: pointer;
  display: inline-block;
  height: 26px;
  line-height: 26px;
  pointer-events: auto;
  text-align: center;
  text-decoration: none;
  text-decoration-color: #000;
  text-decoration-line: none;
  text-decoration-style: solid;
  width: 26px;
  vertical-align: middle;
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.25);
  border-radius: 4px;
}

input[type=file]{
  color:transparent;
}

@-moz-document url-prefix() {
  fieldset { display: table-cell; }
}


/* flexbox */

html {
  font-family: Arial
}


/* .ad-preview */

/* Positions */

.ad-preview {
  .flex-display;
  .flex-direction(column);
  .header {
    .flex-display;
    .justify-content(space-between);
    .flex-wrap(wrap);
  }
  .content {
    .flex-display;
    .flex-wrap(wrap);
    @media(max-width: 768px){
      .flex-direction(column);
      .align-items(center)
    }
    .picture {
      position: relative;
      img {
        max-width: 100%;
        padding-right:10px;
      }
      .picture-number {
        position: absolute;
        bottom: 0px;
        left: 0px;
      }
    }
    .detail {
      .flex-display;
      .flex(1); /* Give full width to detail column */
      .flex-direction(column);
      .justify-content(space-between);
      .focus {
        .flex-display;
        .justify-content(space-between);
        .highlights {
          .flex-display;
          .justify-content(flex-start);
        }
        .actions {
          .flex-display;
          .justify-content(flex-end);
          a {
            .flex-display;
            .flex-direction(column);
            .align-items(center);
            .justify-content(center);
            text-align: center;
          }
        }
      }
    }
  }
}

.small-container {
  .flex-display;
  .flex-wrap(wrap);
  .justify-content(flex-start);
}

.ad-small, .search-small {
  .flex-display;
  .flex-direction(column);
  margin-bottom:4px;
  margin-right:4px;
}

.ad-small .picture {
  position: relative;
}

.ad-small .picture .price {
  position: absolute;
  top: 0;
  left: 0;
  color: black;
  background-color: @verySofthColor;
  padding: 4px;
  font-weight: bold;
}


/* Style */

.ad-preview, .ad-small, .search-small {
  background-color:white;
  padding:10px;
  border:2px solid #eee;
  margin-bottom: 10px;
}

.value {
  font-size: 1.4em;
}


.item {
  text-align: center;
  font-size: 0.85em;
  padding:4px;
  background-color: @verySofthColor;
  margin-right:2px;
}

.actions a {
  margin-left:2px;
  .flat-btn
}


.flat-btn {
  padding:4px;
  background-color: @verySofthColor;
  border-bottom: 4px solid darken(@verySofthColor, 20%);
  color:black;
  font-weight: 500;
  &:hover {
    text-decoration: none;
    background-color: lighten(@verySofthColor, 10%);
    border-bottom-color: lighten(darken(@verySofthColor, 20%), 10%);
  }
}

.subtitle {
  font-size: 0.8em;
  margin-bottom: 10px;
}

.localize_bt {
  font-size:0.8em;
  font-weight: normal;
}

.ad-preview .district {
  font-weight: bold;
}

.ad-preview .header .title, .ad-preview .header .price {
  &:extend(h3);
  font-family: "Open Sans",Helvetica,Arial,sans-serif;
  font-weight: 200;
  margin-top:0px;
  margin-bottom: 2px;
}

.ad-preview .header .price {
  font-weight: 700;
}

/* ad-small */


.ad-small .district {
  font-size: 0.9em;
  font-weight: bold;
}

.ad-small .summary {
  font-size: 0.8em;
}


a {
  text-decoration: none;
}


.brand {
  background-image:url('/static/img/home.png');
  background-repeat: no-repeat;
  padding-left:32px;

}

.border-card-shadow {
  border: 1px solid #ebebeb;
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.16), 0px 2px 10px 0px rgba(0, 0, 0, 0.12);
}

.padding-card {
  padding: 20px;
}

.border-simple-form {
  .padding-card;
  @media (min-width: @screen-sm-min) {
    box-shadow: none;
    border: 0px;
  }
  @media (min-width: @screen-md-min) {
    .border-card-shadow;
  }
  @media (min-width: @screen-lg-min) {
   .border-card-shadow;
  }


}


.panel-heading .panel-title {
  margin-top:0px;
}





