
/* Vendor less */

@import "normalize.less";
@import "flexbox.less";
@import "palette.less";
@import "mixins.less";

@import "variables.less";
@import "utils.less";
@import "containers.less";
@import "custom-types.less";
@import "tabs.less";
@import "pagination.less";
@import "form.less";
@import "responsive-menu.less";
@import "alerts.less";
@import "order.less";
@import "miscelleanous.less";

/* General styles rules */

@font-face {
  font-family: Cafeta;
  src: url('/static/font/cafeta.ttf');
}

@font-face {
  font-family: TypoSlabserif;
  src: url('/static/font/TypoSlabserif-Light.ttf');
}

html {
  font-family: Arial;
}

body {
  font-size: 0.88em;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 300;
  font-family: "Open Sans",Helvetica,Arial,sans-serif;
}

a, a:visited {
  text-decoration: none;
  color:@primary-color;
}

p {
  line-height: 1.5em;
}

hr {
  height: 1px;
  padding: 0;
  color: @palette-Blue-Grey-100;
  background-color: @palette-Blue-Grey-100;
  border: 0;
}

ul.list-group {
  list-style: none;
  padding:0px;
  li {
    line-height: 1.5em;
    border-bottom: 1px solid @palette-Blue-Grey-100;
    padding: 5px 0;
    &:first-child {
      border-top: 1px solid @palette-Blue-Grey-100;
    }
  }
}

/* Local style rules */

.brand {
  color: white;
  font-family: Cafeta,sans-serif;
  font-size: 2em;
  background-image:url('/static/img/home.png');
  background-repeat: no-repeat;
  padding-left:32px;
}

.price {
  color: @primary-color;
}

.sanscom_font {
  color:@secondary-color;
}

.border-card-shadow {
  border: 1px solid #ebebeb;
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.16), 0px 2px 10px 0px rgba(0, 0, 0, 0.12);
}

.padding-card {
  padding: 10px;
}

.border-simple-form {
  .padding-card;
  @media (min-width: @screen-sm-min) {
    box-shadow: none;
    border: 0px;
  }
  @media (min-width: @screen-md-min) {
    .border-card-shadow;
  }
  @media (min-width: @screen-lg-min) {
   .border-card-shadow;
 }
}
