@screen-xs-max: 767px;
@screen-sm-min: 768px;
@screen-md-min: 992px;
@screen-lg-min: 1200px;

@container-xs: 100%;
@container-sm: 750px;
@container-md: 970px;
@container-lg: 1170px;

@border-width: 2px;

@verySofthColor: @palette-Grey-100;
@font-color-inactive: @palette-Blue-Grey-500;
@font-color-active: #00796B;
@font-color-inactive-inverse: @palette-Blue-Grey-500;
@font-color-active-inverse: white;
@primary-color:#20B2AB;
@secondary-color:#FFB82E;
@color-hyperlight:@palette-Grey-50;
