{% load compress %}

<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="annonces immobilières géolocalisées">
  <meta name="author" content="AcheterSansCom">
  <link rel="icon" href="{{STATIC_URL}}img/favicon.ico" />
  {% block head %}
  <title>
    {% block title %}
    AcheterSansCom
    {% endblock %}
  </title>
  {% endblock %}

  {% compress css %}
  {% block css %}
  <link type="text/less" rel="stylesheet" href="{{ STATIC_URL }}less/style.less" />
  {% endblock %}
  {% endcompress %}

  {% compress js %}
  {% block js %}

  <script src="{{STATIC_URL}}jquery-1.11.0.min.js" type="text/javascript"></script>
  <script src="{{STATIC_URL}}bootstrap.min.js" type="text/javascript"></script>

  {% endblock %}
  {% endcompress %}
</head>

<body>

  <div class="header-back">
    <header>

      <div>
        <div>
          <a class="brand" href="{% url 'sale:ads_ad_list' %}">
            <img src="{{ STATIC_URL }}img/home.png" alt="AcheterSansCom" />Acheter<span class="sanscom_font">SansCom</span>
          </a>
        </div>
        <div >
          <a class="{% if namespace == 'sale' %}active{% endif %}" href="{% url 'sale:ads_ad_list' %}">Achat - Vente</a>
        </div>
        <div >
          <a class="{% if namespace == 'rent' %}active{% endif %}" href="{% url 'rent:ads_ad_list' %}">Location</a>
        </div>
      </div>

      <div>
        {% if user.is_authenticated %}
        <div>
          <a href="{% url 'user_account' user.username %}">Compte : {{ user }}</a>
        </div>
        <div>
          <a href="{% url 'logout' %}">Se déconnecter</a>
        </div>
        {% else %}
        <div>
          <a href="{% url 'registration_register' %}"><span style="color:#20B2AB;">Créer un compte</span></a>
        </div>
        <div>
          <a href="{% url 'login' %}">Se connecter</a>
        </div>
        {% endif %}
      </div>

    </header>

  </div>

  {% comment %}
  <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="{% url 'sale:ads_ad_list' %}">
          <img src="{{ STATIC_URL }}img/home.png" style="display: inline" alt="AcheterSansCom" />Acheter<span class="sanscom_font">SansCom</span>
        </a>
      </div>

      <div class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
          <li class="{% if namespace == 'sale' %}active{% endif %}">
            <a href="{% url 'sale:ads_ad_list' %}">Achat - Vente</a>
          </li>
          <li class="{% if namespace == 'rent' %}active{% endif %}">
            <a href="{% url 'rent:ads_ad_list' %}">Location</a>
          </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          {% if user.is_authenticated %}
          <li>
            <a href="{% url 'user_account' user.username %}">Compte : {{ user }}</a>
          </li>
          <li>
            <a href="{% url 'logout' %}">Se déconnecter</a>
          </li>
          {% else %}
          <li>
            <a href="{% url 'registration_register' %}"><span style="color:#20B2AB;">Créer un compte</span></a>
          </li>
          <li>
            <a href="{% url 'login' %}">Se connecter</a>
          </li>
          {% endif %}
          {% if namespace %}
          {% with namespace|add:':ads_ad_list' as ads_ad_list_url %}
          <li class="visible-xs-block">
            <a href="{% url ads_ad_list_url %}">
              {% if sale %}Acheteurs : Trouvez un bien{% endif %}
              {% if rent %}Locataires : Trouvez une location{% endif %}
            </a>
          </li>
          {% endwith %}
          {% with namespace|add:':ads_search_list' as ads_search_list_url %}
          <li class="visible-xs-block">
            <a href="{% url ads_search_list_url %}">
              {% if sale %}Vendeurs : Trouvez des acheteurs{% endif %}
              {% if rent %}Bailleurs : Louer votre bien{% endif %}
            </a>
            {% endwith %}
          </li>
          {% endif %}
        </ul>
      </div>
    </div>
  </div>


  <div class="container">

  </div>
  {% endcomment %}
  <main class="{% block main-class %}{% endblock %}">
    {% block content %}{% endblock %}
  </main>
  <div class="footer-back">
    <footer>
      <div>
        <a href="/">© {% now "Y" %} AcheterSansCom</a>
      </div>
      <div>
        <a href="{% url 'a-propos' %}">En savoir plus</a>
        <a href="{% url 'legal' %}">Mentions légales</a>
        <a href="{% url 'cgu' %}">Conditions d'utilisation</a>
      </div>
    </footer>
  </div>
</body>
</html>
