{% load compress %}

<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="annonces immobilières géolocalisées">
  <meta name="author" content="AcheterSansCom">
  <link rel="icon" href="{{STATIC_URL}}img/favicon.ico" />



  {% block head %}
  <title>
    {% block title %}
    AcheterSansCom
    {% endblock %}
  </title>
  {% endblock %}

  {% compress css %}
  {% block css %}
  <link type="text/less" rel="stylesheet" href="{{ STATIC_URL }}less/style.less" />
  {% endblock %}
  {% endcompress %}

  {% compress js %}
  {% block js %}

  <script src="{{STATIC_URL}}jquery-1.11.0.min.js" type="text/javascript"></script>
  {#<script src="{{STATIC_URL}}bootstrap.min.js" type="text/javascript"></script> #}
  {% endblock %}
  {% endcompress %}

</head>

<body>

  <div class="header-back">
    <header>
      <div>
        <a class="brand" href="{% url 'sale:ads_ad_list' %}">
          Acheter<span class="sanscom_font">SansCom</span>
        </a>
        <button type="button" class="navbar-toggle" >
          <div class="sr-only">Toggle navigation</div>
          <div class="icon-bar"></div>
          <div class="icon-bar"></div>
          <div class="icon-bar"></div>
        </button>
      </div>
      <nav>
        <a class="{% if namespace == 'sale' %}active{% endif %}" href="{% url 'sale:ads_ad_list' %}">Achat · Vente</a>
        <a class="{% if namespace == 'rent' %}active{% endif %}" href="{% url 'rent:ads_ad_list' %}">Location</a>
        {% if user.is_authenticated %}
        <a href="{% url 'user_account' user.username %}" class="{% if request.path == '/accounts/'|add:request.user.username|add:'/' %}active{% endif %}">
          Compte : {{ user }}
        </a>
        <a href="{% url 'logout' %}">
          Se déconnecter
        </a>
        {% else %}
        <a href="{% url 'registration_register' %}" class="{% if request.path == '/accounts/register/' %}active{% endif %}">
          Créer un Compte
        </a>
        <a href="{% url 'login' %}" class="{% if request.path == '/accounts/login/' %}active{% endif %}">
          Se connecter
        </a>
        {% endif %}
      </nav>
    </header>
    <script>
    $('.navbar-toggle').click(function(evt){
      $('header').css('flex-direction', 'column');
      $('header nav').css('flex-direction', 'column');
      $('header nav').toggle();
    });
    function resize() {
      if("matchMedia" in window) {
        if(window.matchMedia("(min-width:768px)").matches) {
          $('header nav').show();
          $('header').css('flex-direction', 'row');
          $('header nav').css('flex-direction', 'row');
        } else {
          $('header nav').hide();
          $('header').css('flex-direction', 'column');
          $('header nav').css('flex-direction', 'column');
        }
      }
    }
    resize();
    window.addEventListener('resize', resize, false);
    </script>
  </div>

  <main class="{% block main-class %}{% endblock %}">
    {% block content %}{% endblock %}
  </main>
  <div class="footer-back">
    <footer>
      <a href="/">© {% now "Y" %} AcheterSansCom</a>
      <nav>
        <a href="{% url 'a-propos' %}" class="{% if request.path == '/a-propos/' %}active{% endif %}">
          En savoir plus
        </a>
        <a href="{% url 'legal' %}" class="{% if request.path == '/legal/' %}active{% endif %}">
          Mentions légales
        </a>
        <a href="{% url 'cgu' %}" class="{% if request.path == '/cgu/' %}active{% endif %}">
          Conditions d'utilisation
        </a>
      </nav>
    </footer>
  </div>
</body>
</html>
