{% extends "base.html" %}
{% load contacted %}

{% block js %}
{{ block.super }}
<script type="text/javascript">
$(function(){
  var hash = window.location.hash;
  hash && $('ul.nav a[href="' + hash + '"]').tab('show');
  $('.nav-tabs a').click(function (e) {
    $(this).tab('show');
    window.location.hash = this.hash;
});
});
</script>
{% endblock %}

{% block content %}

<div class="row">

    <div class="col-md-8">
        {% if user == object.user %}

        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">
                Votre compte : {{ object }}
            </h3>
        </div>
        <div class="panel-body">
            Téléphone : {{object.phone }}
            <br />
            <a class="btn btn-default" href="{% url 'user_account_update' object.user.username %}">
                Modifier vos informations personnelles
            </a>
            <a class="btn btn-default" href="{% url 'password_change' %}">
                Changer de mot de passe
            </a>
        </div>
    </div>

    {% else %}
    <h2>Profil de {{ object }}</h2>
    {% endif %}

    <div role="tabpanel">

      <ul class="nav nav-tabs" role="tablist">
        {% if sales %}
        <li role="presentation" class="active">
            <a href="#sale" aria-controls="home" role="tab" data-toggle="tab">
                A vendre
            </a>
        </li>
        {% endif %}
         {% if rentals %}
        <li role="presentation">
            <a href="#rent" aria-controls="rent" role="tab" data-toggle="tab">
                A louer
            </a>
        </li>
        {% endif %}
        {% if sale_searches %}
        <li role="presentation">
            <a href="#sale_search" aria-controls="sale_search" role="tab" data-toggle="tab">
                Recherche achat
            </a>
        </li>
        {% endif %}
        {% if rent_searches %}
        <li role="presentation">
            <a href="#rent_search" aria-controls="rent_search" role="tab" data-toggle="tab">
                Recherche location
            </a>
        </li>
        {% endif %}
    </ul>

    <div class="tab-content">
        {% if sales %}
        <div role="tabpanel" class="tab-pane active" id="sale">
            <br />

            {% for ad in sales %}
            {% include "ads/ad_preview.html" with object=ad manage=owner %}
            {% if owner %}
            <div class="row">
                {% for asr in ad.adsearchrelation_set.all %}
                {% if asr.valid %}

                {% include "ads/search_small.html" with object=asr.search %}

                {% if asr.search_contacted %}
                Vous avez déjà contacté l'acheteur
                {% endif %}
                {% if asr.ad_contacted %}
                Vous avez été contacté par l'acheteur
                {% endif %}
                <a href="{% url 'sale:ads_search_detail' asr.search.slug %}#contact">
                    Contactez l'acheteur
                </a>
                {% endif %}
                {% endfor %}
            </div>
            <hr>

            {% endif %}
            {% endfor %}
            {% endif %}
            {% if owner %}
            <div>
                <a class="btn btn-default btn-primary" href="{% url 'sale:ads_ad_add' %}">
                    Ajouter une annonce de bien à vendre
                </a>
            </div>

        </div>
        {% endif %}
        {% if rentals %}
        <div role="tabpanel" class="tab-pane" id="rent">
            <br />


            {% for ad in rentals %}
            {% include "ads/ad_preview.html" with object=ad manage=owner %}
            {% if owner %}
            <div class="row">
                {% for asr in ad.adsearchrelation_set.all %}
                {% if asr.valid %}

                {% include "ads/search_small.html" with object=asr.search %}

                {% if asr.search_contacted %}
                Vous avez déjà contacté l'acheteur
                {% endif %}
                {% if asr.ad_contacted %}
                Vous avez été contacté par l'acheteur
                {% endif %}
                <a href="{% url 'sale:ads_search_detail' asr.search.slug %}#contact">
                    Contactez l'acheteur
                </a>
                {% endif %}
                {% endfor %}
            </div>
            {% endif %}

            {% endfor %}
            {% endif %}
            {% if owner %}
            <div>
                <a class="btn btn-default btn-primary" href="{% url 'rent:ads_ad_add' %}">
                    Ajouter une annonce de bien à louer
                </a>
            </div>


        </div>
         {% endif %}
         {% if sale_searches %}
        <div role="tabpanel" class="tab-pane" id="sale_search">
            <br />

            {% for search in sale_searches %}

            {% include "ads/search_preview.html" with object=search manage=owner %}

            <div class="row">

                {% for asr in search.adsearchrelation_set.all %}
                {% if asr.valid %}
                {% include 'ads/ad_small.html' with object=asr.ad %}
                {% comment %}
                <tr>
                    <td>
                        <a href="{% url 'sale:ads_ad_detail' asr.ad.slug %}">
                            {{ asr.ad }}
                        </a>
                    </td>
                    <td>
                        {% if asr.ad_contacted %}
                        Vous avez déjà contacté le vendeur
                        {% endif %}
                        {% if asr.search_contacted %}
                        Vous avez été contacté par le vendeur
                        {% endif %}
                        <a href="{% url 'sale:ads_ad_detail' asr.ad.slug %}#contact">
                            Contactez le vendeur
                        </a>
                    </td>
                </tr>
                {% endcomment %}
                {% endif %}
                {% endfor %}
            </div>
            {% endfor %}

            {% endif %}
            {% if owner %}
            <div>
                <a class="btn btn-default btn-primary" href="{% url 'sale:ads_search_add' %}">
                    Ajouter une annonce de recherche d'achat
                </a>
            </div>


        </div>
        {% endif %}
        {% if rent_searches %}
        <div role="tabpanel" class="tab-pane" id="rent_search">
            <br />

            {% for search in rent_searches %}
            {% include "ads/search_preview.html" with object=search manage=owner %}
            {% if owner %}
            <div class="row">
                {% for asr in search.adsearchrelation_set.all %}
                {% if asr.valid %}

                {% include "ads/ad_small.html" with object=asr.search %}

                {% if asr.ad_contacted %}
                Vous avez déjà contacté le vendeur
                {% endif %}
                {% if asr.search_contacted %}
                Vous avez été contacté par le vendeur
                {% endif %}
                <a href="{% url 'rent:ads_ad_detail' asr.ad.slug %}#contact">
                    Contactez le vendeur
                </a>
                {% endif %}
                {% endfor %}
            </div>
            {% endif %}

            {% endfor %}

            {% if owner %}
            <div>
                <a class="btn btn-default btn-primary" href="{% url 'rent:ads_search_add' %}">
                    Ajouter une annonce de recherche de location
                </a>
            </div>
            {% endif %}
        </div>
{% endif %}
    </div>
</div>

</div>


</div>
</div>

{% endblock %}
