{% extends 'base.html' %}

{% load leaflet_tags geojson_tags humanize bootstrap %}

{% block head %}

{{ block.super }}
{% leaflet_js %}
{% leaflet_css %}
<script type="text/javascript">

function map_init_basic (map, options) {
    var json = {{ object.location|geojsonfeature|safe }};
    var feature = L.geoJson(json);
    var center = feature.getBounds().getCenter();
    var lat = center.lat;
    var lng = center.lng;
    feature.addTo(map);
    map.setView([lat, lng], 13);
    // Disable map interaction
    map.touchZoom.disable();
    map.doubleClickZoom.disable();
    map.scrollWheelZoom.disable();
    map.boxZoom.disable();
    map.keyboard.disable();
    map.dragging.disable();
}

</script>
{% endblock %}


{% block content %}

<h2 class="page-header">{% if sale %}Vente{% endif %}{% if rent %}Location{% endif %} {{ object.habitation_type }} {{ object.rooms }} pièce{{ object.rooms|pluralize }} ({{ object.bedrooms }} ch.) {{ object.surface }}m² {{ object.price|intcomma }} €{% if rent %}/mois{% endif %}</h2>
<p class="small">
    Mise en ligne par <a href="{% url 'user_account' object.user.username %}">{{ object.user }}</a> le {{ object.created|date:"SHORT_DATETIME_FORMAT" }}{#, modifié le {{ object.modified }}#}
</p>

{% leaflet_map "map" callback="window.map_init_basic"%} <br />

<div class="row">

    <div class="col-md-6">

        <ul class="list-group">
            <li class="list-group-item">{{ object.price|intcomma }} €{% if rent %}/mois{% endif %}</li>
            <li class="list-group-item">Surface : {{ object.surface }}m² {% if object.surface_carrez %}(loi carrez : {{ object.surface_carrez }}m²){% endif %}</li>
            <li class="list-group-item">{{ object.rooms }} pièce{{ object.rooms|pluralize }}</li>
            <li class="list-group-item">{{ object.bedrooms }} chambre{{ object.bedrooms|pluralize }}</li>

            {% if object.ground_surface %}<li class="list-group-item">Terrain : {{ object.ground_surface }} m²</li>{% endif %}
            {% if object.ad_valorem_tax %}<li class="list-group-item">Taxe foncière : {{ object.ad_valorem_tax }} €/an</li>{% endif %}
            {% if object.housing_tax %}<li class="list-group-item">Taxe d'habitation : {{ object.housing_tax }} €/an</li>{% endif %}
            {% if object.maintenance_charges %}<li class="list-group-item">Charges : {{ object.maintenance_charges }} €/mois</li>{% endif %}
        </ul>

        <ul class="list-group">
            {% if object.emission_of_greenhouse_gases %}
            <li class="list-group-item">Émissions de gaz à effet de serre : {{ object.get_emission_of_greenhouse_gases_display }} kgeqCO2/m².an</li>
            {% endif %}
            {% if object.energy_consumption %}
            <li class="list-group-item">Consommation énergétique : {{ object.get_energy_consumption_display }} kWhEP/m².an</li>
            {% endif %}
            {% if object.heating %}<li class="list-group-item">Chauffage : {{ object.get_heating_display }} </li>{% endif %}
            {% if object.fireplace %}<li class="list-group-item">Cheminée : {{ object.get_fireplace_display }}</li>{% endif %}
        </ul>

        <ul class="list-group">
            {% if object.floor %}<li class="list-group-item">{{ object.floor }}<sup>e</sup> étage</li>{% endif %}
            {% if object.ground_floor %}<li class="list-group-item">Rez-de-chaussée</li>{% endif %}
            {% if object.top_floor %}<li class="list-group-item">Dernier étage</li>{% endif %}
            {% if object.not_overlooked %}<li class="list-group-item">Sans vis-à-vis</li>{% endif %}
            {% if object.elevator %}<li class="list-group-item">Ascenceur</li>{% endif %}
            {% if object.intercom %}<li class="list-group-item">Interphone</li>{% endif %}
            {% if object.digicode %}<li class="list-group-item">Digicode</li>{% endif %}
            {% if object.doorman %}<li class="list-group-item">Gardien</li>{% endif %}
            {% if object.cellar %}<li class="list-group-item">Cave</li>{% endif %}
            {% if object.parking %}<li class="list-group-item">{{ object.get_parking_display }} </li>{% endif %}
            {% if object.orientation %}<li class="list-group-item">Orientation : {{ object.orientation }}</li>{% endif %}

        </ul>

        <ul class="list-group">
            {% if object.kitchen %}<li class="list-group-item">Cuisine équipée</li>{% endif %}
            {% if object.separate_dining_room %}<li class="list-group-item">Cuisine séparée </li>{% endif %}
            {% if object.separate_entrance %}<li class="list-group-item">Entrée séparée</li>{% endif %}
            {% if object.duplex %}<li class="list-group-item">Duplex</li>{% endif %}
            {% if object.swimming_pool %}<li class="list-group-item">Piscine</li>{% endif %}
            {% if object.alarm %}<li class="list-group-item">Alarme</li>{% endif %}
            {% if object.air_conditioning %}<li class="list-group-item">Air climatisé</li>{% endif %}
            {% if object.terrace %}<li class="list-group-item">Terrasse : {{ object.terrace }} m²</li>{% endif %}
            {% if object.balcony %}<li class="list-group-item">Balcon : {{ object.balcony }} m²</li>{% endif %}
            {% if object.separate_toilet %}<li class="list-group-item">{{ object.separate_toilet }} toilette{{ object.separate_toilet|pluralize }} </li>{% endif %}
            {% if object.bathroom %}<li class="list-group-item">{{ object.bathroom }} salle{{ object.bathroom|pluralize }} de bain </li>{% endif %}
            {% if object.shower %}<li class="list-group-item">{{ object.shower }} salle{{ object.shower|pluralize }} d'eau (avec douche) </li>{% endif %}
        </ul>

        {% if object.description %}
        <div>
        <h3>Informations complémentaires</h3>
        {{ object.description|linebreaks }}
        </div>
        {% endif %}

    </div>

    <div class="col-md-6">
        {% if object.adpicture_set.all %}
        {% for picture in object.adpicture_set.all %}
        <img src="{{ picture.image.url }}" class="center-block img-responsive img-thumbnail" />
        <div class="text-center">
        <b>{{ picture.title }}</b>
        </div>
        </br />
        {% endfor %}
        {% endif %}


    {% if owner %}
    <div class="alert alert-info">
        Vous avez mis en ligne cette annonce, {% if sale %}<a href="{% url 'sale:ads_ad_update' object.slug %}" class="alert-link">{% endif %}{% if rent %}<a href="{% url 'rent:ads_ad_update' object.slug %}" class="alert-link">{% endif %}vous pouvez si besoin la modifier</a>.
    </div>
    {% else %}

    {% if user.is_authenticated %}

    {% if already_contacted %}
        <div class="alert alert-info">
        Vous avez déjà contacté ce vendeur.
    </div>

    {% endif %}

        {% if contact_form %}
            <form method="POST" action="." id="contact">
                {% csrf_token %}
                <div class="form-group {% if contact_form.message.errors %}has-error{% endif %}">
                    <label class="control-label" for="{{ contact_form.message.auto_id }}">Votre message au vendeur</label>
                    {{ contact_form.message }}
                {% if contact_form.message.errors %}
                <p class="text-danger">
                    {% for error in contact_form.message.errors %}
                    {{ error|escape }}
                    {% endfor %}
                </p>
                {% endif %}
                </div>
                <input class="btn btn-default btn-block btn-primary" type="submit" value="Envoyer le message" />
            </form>
            {% if object.user.userprofile_set.all.0.phone %}
            <hr />
            <div>

            <b>N° de téléphone du vendeur : {{ object.user.userprofile_set.all.0.phone }}</b>
        </div>
            {% endif %}

        {% else %}

    <div class="alert alert-info">
        Vous n'avez pas de recherche correspondant à ce bien,
        {% if sale %}<a class="alert-link" href="{% url 'sale:ads_search_add' %}">{% endif %}{% if rent %}<a class="alert-link" href="{% url 'rent:ads_search_add' %}">{% endif %}déposez une recherche.</a>
    </div>

        {% endif %}

    {% else %}

    <div class="alert alert-info">
    Pour contacter les vendeurs, il vous faut avoir un compte et avoir une recherche correpondant à ce bien.
    {% if sale %}
    <a class="btn btn-default" href="{% url 'sale:ads_search_add' %}">
        Ajouter une annonce de recherche
    </a>
    {% endif %}
    {% if rent %}
    <a class="btn btn-default" href="{% url 'rent:ads_search_add' %}">
        Ajouter une annonce de recherche de location
    </a>
    {% endif %}
    </div>


    {% endif %}

    {% endif %}

</div>


</div>


{% endblock %}
