{% extends 'ads/form.html' %}
{% load staticfiles thumbnails %}

{% block head %}
{{ block.super }}
{{ form.media }}
<script>
/* hide - show and empty fields regarding habitation type selected
    case apartment, hide ground_surface
    case house, remove
        "Situation du logement dans l'immeuble"
        "A propos de l'immeuble"
        */

        function hideField(target){
            target.hide()
            target.find(':input').val('').removeAttr('checked').removeAttr('selected')
        }

        $(document).ready(function(){
            var habitation_type;
            function init_form(){
                if(habitation_type === 'apartment'){
                    hideField($('#ground_surface_container'));
                    $('#apartment_situation').show();
                    $('#apartment_about').show();
                }
                if(habitation_type === 'house'){
                    $('#ground_surface_container').show()
                    hideField($('#apartment_situation'));
                    hideField($('#apartment_about'));
                }
            };
            $('input[type=radio][name=habitation_type]').change(function(evt){
                if(this.value === "1"){
                    habitation_type = "apartment";
                }else{
                    habitation_type = "house";
                }
                init_form();
            });
            habitation_type_id = $('input[type=radio][name=habitation_type]:checked').val();
            if(habitation_type_id === "1"){
                habitation_type = "apartment";
            }else{
                habitation_type = "house";
            }
            if(habitation_type){
                init_form();
            }
        })

</script>
{% endblock %}

{% block content %}

<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <h2>
            {% if sale %}Vendeur : Votre annonce de bien à vendre{% endif %}
            {% if rent %}Bailleur : Votre annonce de bien à louer{% endif %}
        </h2>

        {% if form.errors %}
        <div class="alert alert-danger">
            {% for field in form %}
            {% for error in field.errors %}
            {{ field.label }} : {{ error|escape }}<br>
            {% endfor %}
            {% endfor %}
            {% for error in form.non_field_errors %}
            {{ error|escape }}<br>
            {% endfor %}
        </div>
        {% endif %}

        <div class="alert alert-info">
            Nous vous conseillons de renseigner le maximum de champs, d'être exhaustif dans votre description et de fournir un plan de votre bien et plusieurs photos. En effet, les acheteurs sont plus attirés par les biens pour lesquels la description est complète et seront mieux à même de cibler les biens susceptibles de vraiment correspondre à leurs besoins. Les acheteurs qui vous contacteront seront ainsi les plus susceptibles d'être vraiment intéressés par votre bien, cela vous évitera de nombreux appels passés à titre informatifs ou des visites superflues qui auront peu de chance d'aboutir.
        </div>

        <form method="POST" action="." role="form" enctype="multipart/form-data">
            {% csrf_token %}

            {% if form.non_field_errors %}
            <div class="alert alert-danger">
                {{ form.non_field_errors }}
            </div>
            {% endif %}

            <div class="form-group {% if form.habitation_type.errors %}has-error{% endif %}">
                <label class="control-label">{{ form.habitation_type.label }}</label>
                {{ form.habitation_type }}
                {% if form.habitation_type.errors %}
                <p class="text-danger">
                    {% for error in form.habitation_type.errors %}
                    {{ error|escape }}
                    {% endfor %}
                </p>
                {% endif %}
            </div>

            <div class="form-group {% if form.address.errors %}has-error{% endif %}">
                <label class="control-label" for="{{ form.address.auto_id }}">{{ form.address.label }}</label>
                {{ form.address }}
                {% if form.address.errors %}
                <p class="text-danger">
                    {% for error in form.address.errors %}
                    {{ error|escape }}
                    {% endfor %}
                </p>
                {% endif %}
                <p class="help-block">Adresse complète, par exemple : 5 rue de Verneuil Paris</p>
            </div>

            <div class="form-group {% if form.price.errors %}has-error{% endif %}">
                <label>{{ form.price.label }}</label>
                <div class="input-group">
                    <span class="input-group-addon">€{% if rent %}/mois{% endif %}</span>
                    {{ form.price }}
                </div>
                {% if form.price.errors %}
                <p class="text-danger">
                    {% for error in form.price.errors %}
                    {{ error|escape }}
                    {% endfor %}
                </p>
                {% endif %}
            </div>

            <div class="form-group {% if form.surface.errors %}has-error{% endif %}">
                <label>{{ form.surface.label }}</label>
                <div class="input-group">
                    <span class="input-group-addon">m<sup>2</sup></span>
                    {{ form.surface }}
                </div>
                {% if form.surface.errors %}
                <p class="text-danger">
                    {% for error in form.surface.errors %}
                    {{ error|escape }}
                    {% endfor %}
                </p>
                {% endif %}
            </div>

            <div class="form-group {% if form.surface_carrez.errors %}has-error{% endif %}">
                <label>{{ form.surface_carrez.label }} </label>
                <div class="input-group">
                    <span class="input-group-addon">m<sup>2</sup></span>
                    {{ form.surface_carrez }}
                </div>
                {% if form.surface_carrez.errors %}
                <p class="text-danger">
                    {% for error in form.surface_carrez.errors %}
                    {{ error|escape }}
                    {% endfor %}
                </p>
                {% endif %}
            </div>

            <div class="form-group {% if form.rooms.errors %}has-error{% endif %}">
                <label>{{ form.rooms.label }} </label>
                {{ form.rooms }}
                {% if form.rooms.errors %}
                <p class="text-danger">
                    {% for error in form.rooms.errors %}
                    {{ error|escape }}
                    {% endfor %}
                </p>
                {% endif %}
            </div>

            <div class="form-group {% if form.address.errors %}has-error{% endif %}">
                <label>{{ form.bedrooms.label }}</label>
                {{ form.bedrooms }}
                {% if form.address.errors %}
                <p class="text-danger">
                    {% for error in form.bedrooms.errors %}
                    {{ error|escape }}
                    {% endfor %}
                </p>
                {% endif %}
            </div>
            {% if sale %}
            {# Housing taxe only for sale, and not for rent #}

            <div class="form-group {% if form.ad_valorem_tax.errors %}has-error{% endif %}">
                <label>{{ form.ad_valorem_tax.label }}</label>
                <div class="input-group">
                    <span class="input-group-addon">€/an</span>
                    {{ form.ad_valorem_tax }}
                </div>
                {% if form.ad_valorem_tax.errors %}
                <p class="text-danger">
                    {% for error in form.ad_valorem_tax.errors %}
                    {{ error|escape }}
                    {% endfor %}
                </p>
                {% endif %}
            </div>
            {% endif %}

            <div class="form-group {% if form.housing_tax.errors %}has-error{% endif %}">
                <label>{{ form.housing_tax.label }}</label>
                <div class="input-group">
                    <span class="input-group-addon">€/an</span>
                    {{ form.housing_tax }}
                </div>
                {% if form.housing_tax.errors %}
                <p class="text-danger">
                    {% for error in form.housing_tax.errors %}
                    {{ error|escape }}
                    {% endfor %}
                </p>
                {% endif %}
            </div>

            <div class="form-group {% if form.maintenance_charges.errors %}has-error{% endif %}">
                <label>{{ form.maintenance_charges.label }}</label>
                <div class="input-group">
                    <span class="input-group-addon">€/mois</span>
                    {{ form.maintenance_charges }}
                </div>
                {% if form.maintenance_charges.errors %}
                <p class="text-danger">
                    {% for error in form.maintenance_charges.errors %}
                    {{ error|escape }}
                    {% endfor %}
                </p>
                {% endif %}
            </div>


            <div class="form-group {% if form.energy_consumption.errors %}has-error{% endif %}">
                <label>{{ form.energy_consumption.label }}</label>
                {{ form.energy_consumption }}
                {% if form.energy_consumption.errors %}
                <p class="text-danger">
                    {% for error in form.energy_consumption.errors %}
                    {{ error|escape }}
                    {% endfor %}
                </p>
                {% endif %}
            </div>

            <div class="form-group {% if form.emission_of_greenhouse_gases.errors %}has-error{% endif %}">
                <label>{{ form.emission_of_greenhouse_gases.label }}</label>
                {{ form.emission_of_greenhouse_gases }}
                {% if form.emission_of_greenhouse_gases.errors %}
                <p class="text-danger">
                    {% for error in form.emission_of_greenhouse_gases.errors %}
                    {{ error|escape }}
                    {% endfor %}
                </p>
                {% endif %}
            </div>

            <div id="ground_surface_container" class="form-group {% if form.ground_surface.errors %}has-error{% endif %}">
                <label>{{ form.ground_surface.label }}</label>
                <div class="input-group">
                    <span class="input-group-addon">m<sup>2</sup></span>
                    {{ form.ground_surface }}
                </div>
                {% if form.ground_surface.errors %}
                <p class="text-danger">
                    {% for error in form.ground_surface.errors %}
                    {{ error|escape }}
                    {% endfor %}
                </p>
                {% endif %}
            </div>

            <div id="apartment_situation">
                <h4 class="page-header" >Situation du logement dans l'immeuble</h4>

                <div class="form-group {% if form.floor.errors %}has-error{% endif %}">
                    <label>{{ form.floor.label }}</label>
                    {{ form.floor }}
                    {% if form.floor.errors %}
                    <p class="text-danger">
                        {% for error in form.floor.errors %}
                        {{ error|escape }}
                        {% endfor %}
                    </p>
                    {% endif %}
                </div>

                <div class="checkbox {% if form.ground_floor.errors %}has-error{% endif %}">
                    <label>{{ form.ground_floor }} {{ form.ground_floor.label }}</label>
                    {% if form.ground_floor.errors %}
                    <p class="text-danger">
                        {% for error in form.ground_floor.errors %}
                        {{ error|escape }}
                        {% endfor %}
                    </p>
                    {% endif %}
                </div>
                <div class="checkbox {% if form.top_floor.errors %}has-error{% endif %}">
                    <label>{{ form.top_floor }} {{ form.top_floor.label }}</label>
                    {% if form.top_floor.errors %}
                    <p class="text-danger">
                        {% for error in form.top_floor.errors %}
                        {{ error|escape }}
                        {% endfor %}
                    </p>
                    {% endif %}
                </div>

                <div class="checkbox {% if form.duplex.errors %}has-error{% endif %}">
                    <label>{{ form.duplex }} {{ form.duplex.label }}</label>
                    {% if form.duplex.errors %}
                    <p class="text-danger">
                        {% for error in form.duplex.errors %}
                        {{ error|escape }}
                        {% endfor %}
                    </p>
                    {% endif %}
                </div>

                <div class="checkbox {% if form.not_overlooked.errors %}has-error{% endif %}">
                    <label>{{ form.not_overlooked }} {{ form.not_overlooked.label }}</label>
                    {% if form.not_overlooked.errors %}
                    <p class="text-danger">
                        {% for error in form.not_overlooked.errors %}
                        {{ error|escape }}
                        {% endfor %}
                    </p>
                    {% endif %}
                </div>

                <div class="form-group {% if form.orientation.errors %}has-error{% endif %}">
                    <label>{{ form.orientation.label }}</label>
                    {{ form.orientation }}
                    {% if form.orientation.errors %}
                    <p class="text-danger">
                        {% for error in form.orientation.errors %}
                        {{ error|escape }}
                        {% endfor %}
                    </p>
                    {% endif %}
                </div>

            </div>

            <div id="apartment_about">
                <h4 class="page-header" >A propos de l'immeuble</h4>

                <div class="checkbox {% if form.elevator.errors %}has-error{% endif %}">
                    <label>{{ form.elevator }} {{ form.elevator.label }}</label>
                    {% if form.elevator.errors %}
                    <p class="text-danger">
                        {% for error in form.elevator.errors %}
                        {{ error|escape }}
                        {% endfor %}
                    </p>
                    {% endif %}
                </div>
                <div class="checkbox {% if form.intercom.errors %}has-error{% endif %}">
                    <label>{{ form.intercom }} {{ form.intercom.label }}</label>
                    {% if form.intercom.errors %}
                    <p class="text-danger">
                        {% for error in form.intercom.errors %}
                        {{ error|escape }}
                        {% endfor %}
                    </p>
                    {% endif %}
                </div>
                <div class="checkbox {% if form.digicode.errors %}has-error{% endif %}">
                    <label>{{ form.digicode }} {{ form.digicode.label }}</label>
                    {% if form.digicode.errors %}
                    <p class="text-danger">
                        {% for error in form.digicode.errors %}
                        {{ error|escape }}
                        {% endfor %}
                    </p>
                    {% endif %}
                </div>
                <div class="checkbox {% if form.doorman.errors %}has-error{% endif %}">
                    <label>{{ form.doorman }} {{ form.doorman.label }}</label>
                    {% if form.doorman.errors %}
                    <p class="text-danger">
                        {% for error in form.doorman.errors %}
                        {{ error|escape }}
                        {% endfor %}
                    </p>
                    {% endif %}
                </div>
            </div>
            <h4 class="page-header">Commodités</h4>

            <div class="form-group {% if form.heating.errors %}has-error{% endif %}">
                <label>{{ form.heating.label }}</label>
                {{ form.heating }}
                {% if form.heating.errors %}
                <p class="text-danger">
                    {% for error in form.heating.errors %}
                    {{ error|escape }}
                    {% endfor %}
                </p>
                {% endif %}
            </div>

            <div class="checkbox {% if form.kitchen.errors %}has-error{% endif %}">
                <label>{{ form.kitchen }} {{ form.kitchen.label }}</label>
                {% if form.kitchen.errors %}
                <p class="text-danger">
                    {% for error in form.kitchen.errors %}
                    {{ error|escape }}
                    {% endfor %}
                </p>
                {% endif %}
            </div>

            <div class="checkbox {% if form.cellar.errors %}has-error{% endif %}">
                <label>{{ form.cellar }} {{ form.cellar.label }}</label>
                {% if form.cellar.errors %}
                <p class="text-danger">
                    {% for error in form.cellar.errors %}
                    {{ error|escape }}
                    {% endfor %}
                </p>
                {% endif %}
            </div>

            <div class="form-group {% if form.parking.errors %}has-error{% endif %}">
                <label>{{ form.parking.label }}</label>
                {{ form.parking }}
                {% if form.parking.errors %}
                <p class="text-danger">
                    {% for error in form.parking.errors %}
                    {{ error|escape }}
                    {% endfor %}
                </p>
                {% endif %}
            </div>

            <div class="checkbox {% if form.alarm.errors %}has-error{% endif %}">
                <label>{{ form.alarm }} {{ form.alarm.label }}</label>
                {% if form.alarm.errors %}
                <p class="text-danger">
                    {% for error in form.alarm.errors %}
                    {{ error|escape }}
                    {% endfor %}
                </p>
                {% endif %}
            </div>

            <div class="form-group {% if form.balcony.errors %}has-error{% endif %}">
                <label>{{ form.balcony.label }}</label>
                <div class="input-group">
                    <span class="input-group-addon">Surface (m<sup>2</sup>)</span>
                    {{ form.balcony }}
                </div>
                {% if form.balcony.errors %}
                <p class="text-danger">
                    {% for error in form.balcony.errors %}
                    {{ error|escape }}
                    {% endfor %}
                </p>
                {% endif %}
            </div>

            <div class="form-group {% if form.terrace.errors %}has-error{% endif %}">
                <label>{{ form.terrace.label }}</label>
                <div class="input-group">
                    <span class="input-group-addon">Surface (m<sup>2</sup>)</span>
                    {{ form.terrace }}
                </div>
                {% if form.terrace.errors %}
                <p class="text-danger">
                    {% for error in form.terrace.errors %}
                    {{ error|escape }}
                    {% endfor %}
                </p>
                {% endif %}
            </div>

            <div class="form-group {% if form.fireplace.errors %}has-error{% endif %}">
                <label>{{ form.fireplace.label }}</label>
                {{ form.fireplace }}
                {% if form.fireplace.errors %}
                <p class="text-danger">
                    {% for error in form.fireplace.errors %}
                    {{ error|escape }}
                    {% endfor %}
                </p>
                {% endif %}
            </div>

            <div class="checkbox {% if form.air_conditioning.errors %}has-error{% endif %}">
                <label>{{ form.air_conditioning }} {{ form.air_conditioning.label }}</label>
                {% if form.air_conditioning.errors %}
                <p class="text-danger">
                    {% for error in form.air_conditioning.errors %}
                    {{ error|escape }}
                    {% endfor %}
                </p>
                {% endif %}
            </div>

            <div class="checkbox {% if form.swimming_pool.errors %}has-error{% endif %}">
                <label>{{ form.swimming_pool }} {{ form.swimming_pool.label }}</label>
                {% if form.swimming_pool.errors %}
                <p class="text-danger">
                    {% for error in form.swimming_pool.errors %}
                    {{ error|escape }}
                    {% endfor %}
                </p>
                {% endif %}
            </div>


            <h4 class="page-header">Pièces</h4>

            <div class="checkbox {% if form.separate_dining_room.errors %}has-error{% endif %}">
                <label>{{ form.separate_dining_room }} {{ form.separate_dining_room.label }}</label>
                {% if form.separate_dining_room.errors %}
                <p class="text-danger">
                    {% for error in form.separate_dining_room.errors %}
                    {{ error|escape }}
                    {% endfor %}
                </p>
                {% endif %}
            </div>
            <div class="form-group {% if form.separate_toilet.errors %}has-error{% endif %}">
                <label>{{ form.separate_toilet.label }}</label>
                <div class="input-group">
                    <span class="input-group-addon">Nombre</span>
                    {{ form.separate_toilet }}
                </div>
                {% if form.separate_toilet.errors %}
                <p class="text-danger">
                    {% for error in form.separate_toilet.errors %}
                    {{ error|escape }}
                    {% endfor %}
                </p>
                {% endif %}
            </div>
            <div class="form-group {% if form.bathroom.errors %}has-error{% endif %}">
                <label>{{ form.bathroom.label }}</label>
                <div class="input-group">
                    <span class="input-group-addon">Nombre</span>
                    {{ form.bathroom }}
                </div>
                {% if form.bathroom.errors %}
                <p class="text-danger">
                    {% for error in form.bathroom.errors %}
                    {{ error|escape }}
                    {% endfor %}
                </p>
                {% endif %}
            </div>
            <div class="form-group {% if form.shower.errors %}has-error{% endif %}">
                <label>{{ form.shower.label }}</label>
                <div class="input-group">
                    <span class="input-group-addon">Nombre</span>
                    {{ form.shower }}
                </div>
                {% if form.shower.errors %}
                <p class="text-danger">
                    {% for error in form.shower.errors %}
                    {{ error|escape }}
                    {% endfor %}
                </p>
                {% endif %}
            </div>
            <div class="checkbox {% if form.separate_entrance.errors %}has-error{% endif %}">
                <label>{{ form.separate_entrance }} {{ form.separate_entrance.label }}</label>
                {% if form.separate_entrance.errors %}
                <p class="text-danger">
                    {% for error in form.separate_entrance.errors %}
                    {{ error|escape }}
                    {% endfor %}
                </p>
                {% endif %}
            </div>


            <h4 class="page-header">Photos</h4>

            <div class="alert alert-info">N'hésitez pas à insérer une photo du plan de votre bien.</div>


            {% for formset in inlines %}
            <ul class="media-list">
                {{ formset.management_form }}
                {% for form in formset %}
                <li class="media">
                    <span class="pull-left">
                        {% if form.image.value.url %}
                        <img src="{% thumbnail form.image.value 190 180 %}" class="img-responsive"/>
                        {% else %}
                        <img src="{% static 'img/no-image.png' %}" class="img-responsive" width="190px;"/>
                        {% endif %}
                    </span>
                    <div class="media-body">
                        <h4 class="media-heading">Photo n°{{ forloop.counter }}</h4>
                        <div class="form-group {% if form.image.errors %}has-error{% endif %}">
                            {% for hidden in form.hidden_fields %}
                            {{ hidden }}
                            {% endfor %}
                            <label class="sr-only">{{ form.image.label }}</label>
                            {{ form.image }}
                            {% if form.image.errors %}
                            <p class="text-danger">
                                {% for error in form.image.errors %}
                                {{ error|escape }}
                                {% endfor %}
                            </p>
                            {% endif %}
                        </div>
                        <div class="form-group {% if form.title.errors %}has-error{% endif %}">
                            <label>{{ form.title.label }}</label>
                            {{ form.title }}
                            {% if form.title.errors %}
                            <p class="text-danger">
                                {% for error in form.title.errors %}
                                {{ error|escape }}
                                {% endfor %}
                            </p>
                            {% endif %}
                        </div>
                        {% if form.image.value %}
                        <div class="checkbox">
                            <label>{{ form.DELETE }} {{ form.DELETE.label }}</label>
                        </div>
                        {% endif %}
                    </div>
                </li>
                <hr />
                {% endfor %}
            </ul>
            {% endfor %}

            <h4 class="page-header">Informations complémentaires</h4>

            <div class="form-group {% if form.description.errors %}has-error{% endif %}">
                <label class="sr-only">{{ form.description.label }}</label>
                {{ form.description }}
                {% if form.description.errors %}
                <p class="text-danger">
                    {% for error in form.description.errors %}
                    {{ error|escape }}
                    {% endfor %}
                </p>
                {% endif %}
            </div>
            {{ block.super }}
            <hr />

            <input type="submit" class="btn btn-primary btn-block" value="Enregistrer votre annonce" />
        </form>
    </div>
</div>
{% endblock %}
