{% extends 'ads/form.html' %}
{% load staticfiles thumbnails %}

{% block css %}
{{ block.super }}
{{ form.media.css }}
{% endblock %}

{% block js %}
{{ block.super }}
{{ form.media.js }}
<script>
/* hide - show and empty fields regarding habitation type selected
    case apartment, hide ground_surface
    case house, remove
        "Situation du logement dans l'immeuble"
        "A propos de l'immeuble"
        */

        function hideField(target){
            target.hide()
            target.find(':input').val('').removeAttr('checked').removeAttr('selected')
        }

        $(document).ready(function(){
            var habitation_type;
            function init_form(){
                if(habitation_type === 'apartment'){
                    hideField($('#ground_surface_container'));
                    $('#apartment_situation').show();
                    $('#apartment_about').show();
                }
                if(habitation_type === 'house'){
                    $('#ground_surface_container').show()
                    hideField($('#apartment_situation'));
                    hideField($('#apartment_about'));
                }
            };
            $('input[type=radio][name=habitation_type]').change(function(evt){
                if(this.value === "1"){
                    habitation_type = "apartment";
                }else{
                    habitation_type = "house";
                }
                init_form();
            });
            habitation_type_id = $('input[type=radio][name=habitation_type]:checked').val();
            if(habitation_type_id === "1"){
                habitation_type = "apartment";
            }else{
                habitation_type = "house";
            }
            if(habitation_type){
                init_form();
            }
        })

</script>
{% endblock %}

{% block content %}

<div class="ad-form">
    <h2>
        {% if sale %}Vendeur : Votre annonce de bien à vendre{% endif %}
        {% if rent %}Bailleur : Votre annonce de bien à louer{% endif %}
    </h2>

    {% if form.errors %}
    {% include "utils/form_errors.html" %}
    {% endif %}

    <div class="alert alert-info">
        Nous vous conseillons de renseigner le maximum de champs, d'être exhaustif dans votre description et de fournir un plan de votre bien et plusieurs photos. En effet, les acheteurs sont plus attirés par les biens pour lesquels la description est complète et seront mieux à même de cibler les biens susceptibles de vraiment correspondre à leurs besoins. Les acheteurs qui vous contacteront seront ainsi les plus susceptibles d'être vraiment intéressés par votre bien, cela vous évitera de nombreux appels passés à titre informatifs ou des visites superflues qui auront peu de chance d'aboutir.
    </div>

    <form method="POST" action="." role="form" enctype="multipart/form-data">
        {% csrf_token %}

        {% if form.non_field_errors %}
        <div class="alert alert-danger">
            {{ form.non_field_errors }}
        </div>
        {% endif %}

        {% include "widgets/input.html" with field=form.habitation_type %}

        {% include "widgets/input.html" with field=form.address %}

        {% if rent %}
        {% include "widgets/input.html" with field=form.price prepend="€/mois" %}
        {% else %}
        {% include "widgets/input.html" with field=form.price prepend="€" %}
        {% endif %}

        {% include "widgets/input.html" with field=form.surface prepend="m²" %}
        {% include "widgets/input.html" with field=form.surface_carrez prepend="m²" %}

        {% include "widgets/input.html" with field=form.rooms %}
        {% include "widgets/input.html" with field=form.bedrooms %}

        {% if sale %}
        {# Housing taxe only for sale, and not for rent #}
        {% include "widgets/input.html" with field=form.ad_valorem_tax prepend="€/an" %}
        {% endif %}

        {% include "widgets/input.html" with field=form.housing_tax prepend="€/an" %}

        {% include "widgets/input.html" with field=form.maintenance_charges prepend="€/mois" %}

        {% include "widgets/input.html" with field=form.energy_consumption %}

        {% include "widgets/input.html" with field=form.emission_of_greenhouse_gases %}


        {% include "widgets/input.html" with field=form.ground_surface prepend="m²" %}

        <div id="apartment_situation">
            <h4 class="page-header" >Situation du logement dans l'immeuble</h4>

            {% include "widgets/input.html" with field=form.floor %}
            {% include "widgets/input.html" with field=form.ground_floor %}
            {% include "widgets/input.html" with field=form.top_floor %}
            {% include "widgets/input.html" with field=form.duplex %}
            {% include "widgets/input.html" with field=form.not_overlooked %}
            {% include "widgets/input.html" with field=form.orientation %}

        </div>

        <div id="apartment_about">
            <h4 class="page-header">A propos de l'immeuble</h4>
            {% include "widgets/input.html" with field=form.elevator %}
            {% include "widgets/input.html" with field=form.intercom %}
            {% include "widgets/input.html" with field=form.digicode %}
            {% include "widgets/input.html" with field=form.doorman %}
        </div>
        <h4 class="page-header">Commodités</h4>

        {% include "widgets/input.html" with field=form.heating %}
        {% include "widgets/checkbox.html" with field=form.kitchen %}
        {% include "widgets/checkbox.html" with field=form.cellar %}
        {% include "widgets/input.html" with field=form.parking %}
        {% include "widgets/checkbox.html" with field=form.alarm %}
        {% include "widgets/input.html" with field=form.balcony prepend="Surface (m²)" %}
        {% include "widgets/input.html" with field=form.terrace prepend="Surface (m²)" %}
        {% include "widgets/input.html" with field=form.fireplace %}
        {% include "widgets/checkbox.html" with field=form.air_conditioning %}
        {% include "widgets/checkbox.html" with field=form.swimming_pool %}

        <h4 class="page-header">Pièces</h4>

        {% include "widgets/checkbox.html" with field=form.separate_dining_room %}
        {% include "widgets/input.html" with field=form.separate_toilet prepend="Nombre" %}
        {% include "widgets/input.html" with field=form.bathroom prepend="Nombre" %}
        {% include "widgets/input.html" with field=form.shower prepend="Nombre" %}
        {% include "widgets/checkbox.html" with field=form.separate_entrance %}

        <h4 class="page-header">Photos</h4>

        <div class="alert alert-info">N'hésitez pas à insérer une photo du plan de votre bien.</div>


        {% for formset in inlines %}
        <ul class="media-list">
            {{ formset.management_form }}
            {% for form in formset %}
                {% for hidden in form.hidden_fields %}
                {{ hidden }}
                {% endfor %}
            <li class="media">
                <span class="pull-left">
                    {% if form.image.value.url %}
                    <img src="{% thumbnail form.image.value 190 180 %}" class="img-responsive"/>
                    {% else %}
                    <img src="{% static 'img/no-image.png' %}" class="img-responsive" width="190px;"/>
                    {% endif %}
                </span>
                <div class="media-body">
                    <h4 class="media-heading">Photo n°{{ forloop.counter }}</h4>
                    <div class="form-group {% if form.image.errors %}has-error{% endif %}">

                        <label class="sr-only">{{ form.image.label }}</label>
                        {{ form.image }}
                        {% if form.image.errors %}
                        <p class="text-danger">
                            {% for error in form.image.errors %}
                            {{ error|escape }}
                            {% endfor %}
                        </p>
                        {% endif %}
                    </div>

                    {% include "widgets/input.html" with field=form.title %}
                    {% if form.image.value %}
                    <div class="checkbox">
                        <label>{{ form.DELETE }} {{ form.DELETE.label }}</label>
                    </div>
                    {% endif %}
                </div>
            </li>
            <hr />
            {% endfor %}
        </ul>
        {% endfor %}

        <h4 class="page-header">Informations complémentaires</h4>

        {% include "widgets/input.html" with field=form.description %}
        {{ block.super }}
        <hr />

        <input type="submit" class="btn btn-primary btn-block" value="Enregistrer votre annonce" />
    </form>
</div>
{% endblock %}
