{% extends 'ads/list.html' %}
{% load humanize leaflet_tags l10n static %}

{% block head %}
{{ block.super }}

{% leaflet_js plugins="forms" %}
{% leaflet_css plugins="forms" %}

<script>
/*
Override _controlDrawOptions to prevent rectangle draw
*/
NoRectangleGeometryField = L.GeometryField.extend({
    _controlDrawOptions: function () {
        return {
            edit: {
                featureGroup: this.drawnItems
            },
            draw: {
                polyline: this.options.is_linestring,
                polygon: this.options.is_polygon,
                circle: false, // Turns off this drawing tool
                rectangle: false, // Turns off this drawing tool too
                marker: this.options.is_point,
            }
        };
    }
});
</script>

{{ form.media }}

<script>

// This is ugly, this is a way to expose field in global,
// I use it in leaflet_extended.html in enableAutoLocationZone.

var field;

$(window).on("map:init", function (e) {
 var detail = e.originalEvent ?
 e.originalEvent.detail : e.detail;
 detail.map.on('map:loadfield', function (e) {
     field = e.field;
 });
});

</script>

<style type="text/css">
#id_location_map {
    width:100%;
}

</style>
{% endblock %}

{% block content-title %}
<ul class="nav nav-tabs nav-justified">
    {% with namespace|add:':ads_ad_list' as ads_ad_list_url %}
    <li role="presentation" class="active">
        <a href="{% url ads_ad_list_url%}">
            {% if sale %}Acheteurs : Trouvez un bien{% endif %}
            {% if rent %}Locataires : Trouvez une location{% endif %}
        </a>
    </li>
    {% endwith %}
    {% with namespace|add:':ads_search_list' as ads_search_list_url %}
    <li role="presentation" class="hidden-xs">
        <a href="{% url  ads_search_list_url%}">
            {% if sale %}Vendeurs : Trouvez des acheteurs{% endif %}
            {% if rent %}Bailleurs : Louer votre bien{% endif %}
        </a>
    </li>
    {% endwith %}
</ul>
{% endblock %}

{% block form %}

{% if paginator.count == 0 %}
<div class="alert alert-warning">
    Aucune offre ne correspond à votre recherche. <br><a href="#" onclick="console.log(document.getElementsByName('save_ad').item(0).click());"class="alert-link">Enregistrez votre recherche</a> afin d'être tenu informé lorsque de nouveaux biens correspondant à vos critères sont ajoutés.
</div>
{% endif %}

{% if total %}
<div class="alert alert-success">
    <a class="alert-link" href="#results">{{ total }} offre{{  total|pluralize }} correspondent à votre recherche.</a>
</div>
{% endif %}

{% if form.errors %}
<div class="alert alert-danger">
    {% for field in form %}
    {% for error in field.errors %}
    {{ field.label }} : {{ error|escape }}<br>
    {% endfor %}
    {% endfor %}
    {% for error in form.non_field_errors %}<br>
    {{ error|escape }}
    {% endfor %}
</div>
{% endif %}

<form role="form" method="get" action=".">

    {{ form.non_field_errors }}

    <div class="row">

        <div class="col-md-8">

            <div class="row">

                <div class="col-md-5">
                    <a class="btn btn-default btn-block" id="localize" style="text-align: left;">
                        Centrer la carte sur votre localisation
                    </a>
                </div>
                <div class="col-md-7">
                    <div class="input-group">
                        <input class="form-control" id="address" placeholder="ou indiquer une adresse"/>
                        <span class="input-group-btn">
                            <a id="address_localize" class="btn btn-default">
                                Centrer
                            </a>
                        </span>
                    </div>
                </div>
            </div>

            <div class="row" style="margin-top:3px;margin-bottom:3px">
                <div class="col-md-12 hidden" id="auto-zone">
                    Chercher dans un rayon de
                    <div class="btn-group" role="group" data-toggle="buttons">
                        <label class="btn btn-default btn-sm" data-radius="1">
                            <input type="radio" name="options" id="option1" autocomplete="off">1 km
                        </label>
                        <label class="btn btn-default btn-sm" data-radius="2">
                            <input type="radio" name="options" id="option2" autocomplete="off">2 km
                        </label>
                        <label class="btn btn-default btn-sm" data-radius="5">
                            <input type="radio" name="options" id="option3" autocomplete="off">5 km
                        </label>
                        <label class="btn btn-default btn-sm" data-radius="10">
                            <input type="radio" name="options" id="option1" autocomplete="off">10 km
                        </label>
                        <label class="btn btn-default btn-sm" data-radius="20">
                            <input type="radio" name="options" id="option2" autocomplete="off">20 km
                        </label>
                        <label class="btn btn-default btn-sm" data-radius="50">
                            <input type="radio" name="options" id="option3" autocomplete="off">50 km
                        </label>
                    </div> <span id="user-address" class"hidden">autour de votre localisation</span>.
                </div>
            </div>

            <div class="form-group {% if form.location.errors %}has-error{% endif %}">
                <label class="sr-only">Zone</label>
                {{ form.location }}
                {% if form.location.errors %}
                <p class="text-danger">
                    {% for error in form.location.errors %}
                    {{ error|escape }}
                    {% endfor %}
                </p>
                {% endif %}
                <div class="alert alert-info" role="alert" style="margin-top:3px; margin-bottom:3px;padding:5px">
                    Pour dessiner une zone de recherche précise, utiliser l'icône <span id="icon-draw"></span> sur la carte ci-dessus.
                </div>
            </div>

        </div>
        <div class="col-md-4">

            <div class="form-group {% if form.habitation_types.errors %}has-error{% endif %}">
                <label class="control-label">Types d'habitations</label>
                {{ form.habitation_types }}
                {% if form.habitation_types.errors %}
                <p class="text-danger">
                    {% for error in form.habitation_types.errors %}
                    {{ error|escape }}
                    {% endfor %}
                </p>
                {% endif %}
            </div>


            <div class="form-group {% if form.price_max.errors %}has-error{% endif %}">
                <label class="control-label">Prix maximum</label>
                <div class="input-group">
                    {{ form.price_max }}
                    <span class="input-group-addon">€{% if rent %}/mois{% endif %}</span>
                </div>
                {% if form.price_max.errors %}
                <p class="text-danger">
                    {% for error in form.price_max.errors %}
                    {{ error|escape }}
                    {% endfor %}
                </p>
                {% endif %}
            </div>
            <div class="form-group {% if form.surface_min.errors %}has-error{% endif %}">
                <label class="control-label">Surface minimale</label>
                <div class="input-group">
                    {{ form.surface_min }}
                    <span class="input-group-addon">m<sup>2</sup></span>
                </div>
                {% if form.surface_min.errors %}
                <p class="text-danger">
                    {% for error in form.surface_min.errors %}
                    {{ error|escape }}
                    {% endfor %}
                </p>
                {% endif %}
            </div>

            <div class="form-group {% if form.rooms_min.errors %}has-error{% endif %}">
                <label class="control-label">Nb. de pièces minimum</label>
                <div class="input-group">
                    {{ form.rooms_min }}
                    <span class="input-group-addon">pièces</span>
                </div>
                {% if form.rooms_min.errors %}
                <p class="text-danger">
                    {% for error in form.rooms_min.errors %}
                    {{ error|escape }}
                    {% endfor %}
                </p>
                {% endif %}
            </div>

            {% if valid %}
            <input type="submit" class="btn btn-default btn-block btn-primary" name="save_ad" value="Enregistrer votre recherche">
            <input type="submit" class="btn btn-default btn-block" value="Actualiser la recherche">
            {% else %}
            <input type="submit" class="btn btn-primary btn-block btn-lg" value="Lancer la recherche">
            {% endif %}
        </div>


    </div>


</form>
{% endblock %}


{% block list_title %}
<h3 id="results">
    {% if valid %}
    {{ total }} offre{{  total|pluralize }} correspondent à votre recherche
    {% else %}
    Les dernières annonces de {% if sale %}vente{% endif %}{% if rent %}location{% endif %}
    {% endif %}
</h3>
{% endblock %}


{% block search_result_header %}
<th></th>
<th>Type de bien</th>
<th>Prix</th>
<th>Nb. de pièces</th>
<th>Surface</th>
<th>Date</th>
{% endblock %}


{% block search_result %}
<tr onclick="document.location='{{ object.get_absolute_url }}';">
    <td>
        <a class="show-marker btn btn-default btn-xs" data-lng="{{ object.location.y|unlocalize }}" data-lat="{{ object.location.x|unlocalize }}" data-href="{{ object.get_absolute_url }}">Localiser</a>
    </td>
    <td>
        <a href="{{ object.get_absolute_url }}">{{ object.habitation_type }}</a>
    </td>
    <td>
        {{ object.price|intcomma }} €{% if rent %}/mois{% endif %}
    </td>
    <td>
        {{ object.rooms }}
    </td>
    <td>
        {{ object.surface }} m<sup>2</sup>
    </td>
</td>
<td>
    {{ object.modified|naturaltime }}
</td>
</tr>
{% endblock %}
