{% load humanize leaflet_tags geojson_tags l10n static thumbnails %}

<div class="ad-preview" onclick="document.location='{{ object.get_absolute_url }}';">
    <div class="header">
        <h3>
            {% if object.sale %}Vente{% else %}Location{% endif %} {{ object.habitation_type|lower }} {{ object.rooms }} pièce{{ object.rooms|pluralize }} {{ object.surface }} m² {{ object.locality }}
        </h3>
        <h3 class="price">
            {{ object.price|intcomma }} €{% if object.rent %}/mois{% endif %}
        </h3>
    </div>
    <div class="subtitle">{{ object.modified|naturalday|title }}</div>
    <div class="content">
        <div class="picture">
            {% if object.adpicture_set.all %}
            <img src="{% thumbnail object.adpicture_set.all.0.image 190 180 %}" alt="{{ object.adpicture_set.all.0.title }}">
            <div class="item picture-number">Photo{{ object.adpicture_set.all|length|pluralize }}<br/><span class="value">{{ object.adpicture_set.all|length }}</span></div>
            {% else %}
            <img src="{{ STATIC_URL }}img/no-image.png" alt="">
            {% endif %}
        </div>
        <div class="detail">
            <div class="description">
                <span class="district">{{ object.district }}.</span>
                {{ object.description|truncatechars:250 }}
            </div>
            <div class="focus">
                <div class="highlights">
                    <div class="item">Pièce{{ object.rooms|pluralize }}<br/><span class="value">{{ object.rooms }}</span></div>
                    <div class="item">Chambre{{ object.bedrooms|pluralize }}<br/><span class="value">{{ object.bedrooms }}</span></div>
                    <div class="item">Surface<br/><span class="value">{{ object.surface }}</span> m²</div>
                    {% if manage %}
                    <div class="item">
                        Contacté{{ object.contacts|length|pluralize }}
                        <br/><span class="value">{{ object.contacts|length }}/{{ object.interested_count }}</span>
                    </div>
                    {% endif %}
                </div>
                <div class="actions">
                    {% if map %}
                    <a class="show-marker btn btn-default" data-lng="{{ object.location.y|unlocalize }}" data-lat="{{ object.location.x|unlocalize }}" data-href="{{ object.get_absolute_url }}">
                        Localiser
                    </a>
                    {% endif %}
                    <a class="btn btn-default" href="{{ object.get_absolute_url }}">
                        Détails
                    </a>
                    {% if manage %}
                    <a class="btn btn-default" href="{% if object.sale %}{% url 'sale:ads_ad_update' object.slug %}{% endif %}{% if object.rent %}{% url 'rent:ads_ad_update' object.slug %}{% endif %}">
                        Modifier
                    </a>
                    <a class="btn btn-default" href="{% if object.sale %}{% url 'sale:ads_ad_delete' object.slug %}{% endif %}{% if object.rent %}{% url 'rent:ads_ad_delete' object.slug %}{% endif %}">
                        Supprimer
                    </a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
