{% load humanize leaflet_tags geojson_tags l10n static thumbnails %}

<div class="ad-small" onclick="document.location='{{ object.get_absolute_url }}';">
    <div class="picture">
        {% if object.adpicture_set.all %}
            <img src="{% thumbnail object.adpicture_set.all.0.image 190 180 %}" alt="{{ object.adpicture_set.all.0.title }}" />
            {% else %}
            <img src="{{ STATIC_URL }}img/no-image.png" alt="" />
            {% endif %}
        <div class="price">{{ object.price|intcomma }} €</div>
    </div>
    <div class="district">
        {{ object.district }}
    </div>
    <div class="summary">
        {{ object.habitation_type }}, {{ object.rooms }} pièce{{ object.rooms|pluralize }}, {{ object.surface }}</span> m²
    </div>
</div>
