{% extends 'ads/list.html' %}
{% load humanize %}

{% block css %}
{{ block.super }}
{{ form.media.css }}
<style type="text/css">
#price-input-container{
    width:130px;
}
#surface-input-container {
    width: 120px;
}
</style>
{% endblock %}

{% block js %}
{{ block.super }}
{{ form.media.js }}
{% endblock %}

{% block content-title %}

<ul class="nav nav-tabs nav-justified">
    {% with namespace|add:':ads_ad_list' as ads_ad_list_url %}
      <li role="presentation" class="hidden-xs">
        <a href="{% url ads_ad_list_url %}">
            {% if sale %}Acheteurs : Trouvez un bien{% endif %}
            {% if rent %}Locataires : Trouvez une location{% endif %}
        </a>
    </li>
    {% endwith %}
    {% with namespace|add:':ads_search_list' as ads_search_list_url %}
      <li role="presentation" class="active">
        <a href="{% url ads_search_list_url %}">
            {% if sale %}Vendeurs : Trouvez des acheteurs{% endif %}
            {% if rent %}Bailleurs : Louer votre bien{% endif %}
        </a>
    </li>
    {% endwith %}
</ul>
{% endblock %}

{% block form %}

{% if valid and paginator.count == 0 %}
<div class="alert alert-warning">
Aucune demande ne correspond à votre bien. <br><a href="#" onclick="console.log(document.getElementsByName('save_ad').item(0).click());"class="alert-link">Enregistrez votre annonce</a> afin d'être tenu informé lorsque de nouvelles personnes cherchent un bien correspondant au votre.
</div>
{% endif %}

{% if valid %}

{% if paginator.count %}
<div class="alert alert-success">
<a class="alert-link" href="#results">{{ paginator.count }} offre{{ paginator.count|pluralize }} correspondent à votre recherche.</a>
</div>
{% endif %}

{% endif %}

<form class="search-search" role="form" method="get" action=".">
    {{ form.non_field_errors }}
    <div class="form-group {% if form.address.errors %}has-error{% endif %}">

        <label class="sr-only">Adresse</label>
        {{ form.address }}
        {% if form.address.errors %}
        <p class="text-danger">
            {% for error in form.address.errors %}
            {{ error|escape }}
            {% endfor %}
        </p>
        {% endif %}

    </div>
    <div class="form-group {% if form.price.errors %}has-error{% endif %}">
        <label class="sr-only">Prix</label>
        <div class="input-group" id="price-input-container">
            {{ form.price }}
            <span class="input-group-addon">€{% if rent %}/mois{% endif %}</span>
        </div>
        {% if form.price.errors %}
        <p class="text-danger">
            {% for error in form.price.errors %}
            {{ error|escape }}
            {% endfor %}
        </p>
        {% endif %}
    </div>
    <div class="form-group {% if form.surface.errors %}has-error{% endif %}">
        <label class="sr-only">Surface</label>
        <div class="input-group" id="surface-input-container">
            {{ form.surface }}
            <span class="input-group-addon">m<sup>2</sup></span>
        </div>
        {% if form.surface.errors %}
        <p class="text-danger">
            {% for error in form.surface.errors %}
            {{ error|escape }}
            {% endfor %}
        </p>
        {% endif %}
    </div>

    <div class="form-group {% if form.habitation_type.errors %}has-error{% endif %}">
        <label class="sr-only">Type</label>
        {{ form.habitation_type }}
        {% if form.habitation_type.errors %}
        <p class="text-danger">
            {% for error in form.habitation_type.errors %}
            {{ error|escape }}
            {% endfor %}
        </p>
        {% endif %}
    </div>

    {% if valid %}
    <div class="btn-group" role="group">
    <input type="submit" class="btn btn-primary" name="save_ad" value="Enregistrer votre annonce">
    <input type="submit" class="btn btn-default" value="Actualiser">
    </div>
    {% else %}
    <input type="submit" class="btn btn-default btn-primary" value="Lancer la recherche" />
    ou
    <a class="btn btn-warning" href="{% if sale %}{% url 'sale:ads_ad_add' %}{% else %}{% url 'rent:ads_ad_add' %}{% endif %}">Passer une annonce</a>
    {% endif %}
</form>

{% endblock %}

{% block list_title %}
<h3 id="results">
    {% if valid %}
    {{ paginator.count }} biens correspondent à votre recherche
    {% else %}
    Les dernières annonces de recherche <small>parmi {{ paginator.count }}</small>
    {% endif %}
    {% if valid %}{% include 'sortable_listview/sort_links.html' %}{% endif %}
</h3>
{% endblock %}

{% comment %}
{% block search_result_header %}
<th>Type de bien</th>
<th>Prix maximum</th>
<th>Nb. de pièces minimal</th>
<th>Surface mininale</th>
<th>Date de mise à jour</th>
{% endblock %}
{% endcomment %}

{% block search_result %}

{% include "ads/search_preview.html" with object=object %}

{% endblock %}
