{% load humanize leaflet_tags geojson_tags l10n static %}

<div class="ad-preview" onclick="document.location='{{ object.get_absolute_url }}';">
    <div class="header">
        <div class="title">
            {% if object.sale %}Achat{% else %}Location{% endif %} {{ object.habitation_types.all|join:', '|lower }} {{ object.rooms_min }} pièce{{ object.rooms|pluralize }} min. {{ object.surface_min }} m² min.
        </div>
        <div class="price">
            {{ object.price_max|intcomma }} €{% if object.rent %}/mois{% endif %} max.
        </div>
    </div>
    <div class="subtitle">{{ object.modified|naturalday|title }}</div>
    <div class="content">
        <div class="detail">
            <div class="description">
                {{ object.description|truncatechars:250 }}
            </div>
            <div class="focus">
                <div class="item">Pièce{{ object.rooms_min|pluralize }}<br/><span class="value">{{ object.rooms_min }}</span> min.</div>
                <div class="item">Chambre{{ object.bedrooms_min|pluralize }}<br/><span class="value">{{ object.bedrooms_min }}</span> min.</div>
                <div class="item">Surface<br/><span class="value">{{ object.surface_min }}</span> m² min.</div>
                {% if manage %}
                <div class="item">
                Contacté{{ object.contacts|length|pluralize }}
                <br/><span class="value">{{ object.contacts|length }}/{{ object.interested_count }}</span>
                </div>
                {% endif %}
                <div class="actions">
                    <a href="{{ object.get_absolute_url }}">
                        Détails
                    </a>
                    {% if manage %}
                    <a href="{% if object.sale %}{% url 'sale:ads_ad_update' object.slug %}{% endif %}{% if object.rent %}{% url 'rent:ads_ad_update' object.slug %}{% endif %}">
                        Modifier
                    </a>
                    <a href="{% if object.sale %}{% url 'sale:ads_ad_delete' object.slug %}{% endif %}{% if object.rent %}{% url 'rent:ads_ad_delete' object.slug %}{% endif %}">
                        Supprimer
                    </a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>

