{% extends 'ads/form.html' %}

{% load leaflet_tags geojson_tags %}

{% block head %}
{{ block.super }}
{{ form.media }}
{% leaflet_js plugins="forms" %}
{% leaflet_css plugins="forms" %}


<script>
/*
Override _controlDrawOptions to prevent rectangle draw
*/
NoRectangleGeometryField = L.GeometryField.extend({
    _controlDrawOptions: function () {
        var toolbar = L.drawLocal.draw.toolbar
        toolbar.finish = {
                title: 'Fermer la forme',
                text: 'Fermer'
        }
        return {
            edit: {
                 featureGroup: this.drawnItems
            },
            draw: {
                polyline: this.options.is_linestring,
                polygon: this.options.is_polygon,
                circle: false, // Turns off this drawing tool
                rectangle: false, // Turns off this drawing tool too
                marker: this.options.is_point,
                toolbar: toolbar
            }
        }
    }
});
var current_location = undefined;
{% if form.instance.location %}
    var _feature = L.geoJson({{ form.instance.location|geojsonfeature|safe }});
    current_location = _feature.getBounds();
{% endif %}

</script>

{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <h2>
            {% if sale %}Acheteurs : Trouvez un bien à acheter{% endif %}
            {% if rent %}Locataires : Trouvez un bien à louer{% endif %}
        </h2>
        {% if form.errors %}
        <div class="alert alert-danger">
            {% for field in form %}
            {% for error in field.errors %}
            {{ field.label }} : {{ error|escape }}<br>
            {% endfor %}
            {% endfor %}
            {% for error in form.non_field_errors %}<br>
            {{ error|escape }}
            {% endfor %}
        </div>
        {% endif %}

        <form method="POST" action=".">
            {% csrf_token %}

            {% if form.non_field_errors %}
            <div class="alert alert-danger">
                {{ form.non_field_errors }}
            </div>
            {% endif %}
            <!--
            <div class="row">
                <div class="col-md-6">
                    <a class="btn btn-default" id="localize">
                        Centrer la carte sur votre localisation
                    </a>
                </div>
                <div class="col-md-6">
                    <div class="input-group">
                        <input class="form-control" id="address" placeholder="ou indiquer une adresse"/>
                        <span class="input-group-btn">
                            <a id="address_localize" class="btn btn-default">
                                Centrer
                            </a>
                        </span>
                    </div>
                </div>
            </div>
        -->

        <div class="form-group">
            <label>Zone de recherche</label>
            {{ form.location }}
            {% if form.location.errors %}
            <p class="text-danger">
                {% for error in form.location.errors %}
                {{ error|escape }}
                {% endfor %}
            </p>
            {% endif %}
            <div class="alert alert-info" role="alert" style="margin-top:3px; margin-bottom:3px;padding:5px">
                    Dessiner une zone de recherche précise sur la carte ci-dessus en cliquant sur l'icône <span id="icon-draw"></span>.
                </div>
        </div>

        <div class="form-group {% if form.habitation_types.errors %}has-error{% endif %}">
            <label class="control-label" for="{{ form.habitation_types.auto_id }}">Types de bien</label>
            {{ form.habitation_types }}
            {% if form.habitation_types.errors %}
            <p class="text-danger">
                {% for error in form.habitation_types.errors %}
                {{ error|escape }}
                {% endfor %}
            </p>
            {% endif %}
        </div>

        <div class="form-group {% if form.price_max.errors %}has-error{% endif %}">
            <label class="control-label" for="{{ form.price_max.auto_id }}">Prix maximum</label>
            <div class="input-group">
                {{ form.price_max }}
                <span class="input-group-addon">€{% if rent %}/mois{% endif %}</span>
            </div>
            {% if form.price_max.errors %}
            <p class="text-danger">
                {% for error in form.price_max.errors %}
                {{ error|escape }}
                {% endfor %}
            </p>
            {% endif %}
        </div>

        <div class="form-group {% if form.surface_min.errors %}has-error{% endif %}">
            <label class="control-label" for="{{ form.surface_min.auto_id }}">Surface minimum</label>
            <div class="input-group">
                {{ form.surface_min }}
                <span class="input-group-addon">m<sup>2</sup></span>
            </div>
            {% if form.surface_min.errors %}
            <p class="text-danger">
                {% for error in form.surface_min.errors %}
                {{ error|escape }}
                {% endfor %}
            </p>
            {% endif %}
        </div>

        <div class="form-group {% if form.rooms_min.errors %}has-error{% endif %}">
            <label class="control-label">Nombre de pièces minimum</label>
            <div class="input-group">
                {{ form.rooms_min }}
                <span class="input-group-addon">pièce</span>
            </div>
            {% if form.rooms_min.errors %}
            <p class="text-danger">
                {% for error in form.rooms_min.errors %}
                {{ error|escape }}
                {% endfor %}
            </p>
            {% endif %}
        </div>

        <div class="alert alert-info" role="alert" style="margin-top:3px; margin-bottom:3px;padding:5px">
                    Tous les critères ci-dessous sont facultatifs.
                </div>

        <div class="form-group {% if form.bedrooms_min.errors %}has-error{% endif %}">
            <label class="control-label">Nombre de chambres minimum</label>
            <div class="input-group">
                {{ form.bedrooms_min }}
                <span class="input-group-addon">pièce</span>
            </div>
            {% if form.bedrooms_min.errors %}
            <p class="text-danger">
                {% for error in form.bedrooms_min.errors %}
                {{ error|escape }}
                {% endfor %}
            </p>
            {% endif %}
        </div>

        <div class="form-group {% if form.ground_surface_min.errors %}has-error{% endif %}">
            <label class="control-label">Surface de terrain minimum (pour les maisons uniquement)</label>
            <div class="input-group">
                {{ form.ground_surface_min }}
                <span class="input-group-addon">m<sup>2</sup></span>
            </div>
            {% if form.ground_surface_min.errors %}
            <p class="text-danger">
                {% for error in form.ground_surface_min.errors %}
                {{ error|escape }}
                {% endfor %}
            </p>
            {% endif %}
        </div>

        <h4 class="page-header">Situation du logement dans l'immeuble</h4>

        {% include "widgets/nullbooleanselect.html" with field=form.ground_floor only %}
        {% include "widgets/nullbooleanselect.html" with field=form.top_floor only %}
        {% include "widgets/nullbooleanselect.html" with field=form.duplex only %}
        {% include "widgets/nullbooleanselect.html" with field=form.not_overlooked only %}

        <h4 class="page-header">A propos de l'immeuble</h4>

        {% include "widgets/nullbooleanselect.html" with field=form.elevator only %}
        {% include "widgets/nullbooleanselect.html" with field=form.intercom only %}
        {% include "widgets/nullbooleanselect.html" with field=form.digicode only %}
        {% include "widgets/nullbooleanselect.html" with field=form.doorman only %}

        <h4 class="page-header">Commodités</h4>

        {% include "widgets/nullbooleanselect.html" with field=form.kitchen only %}
        {% include "widgets/nullbooleanselect.html" with field=form.cellar only %}
        {% include "widgets/nullbooleanselect.html" with field=form.parking only %}
        {% include "widgets/nullbooleanselect.html" with field=form.alarm only %}
        {% include "widgets/nullbooleanselect.html" with field=form.balcony only %}
        {% include "widgets/nullbooleanselect.html" with field=form.terrace only %}
        {% include "widgets/nullbooleanselect.html" with field=form.fireplace only %}
        {% include "widgets/nullbooleanselect.html" with field=form.air_conditioning only %}
        {% include "widgets/nullbooleanselect.html" with field=form.swimming_pool only %}

        <h4 class="page-header">Pièces</h4>

        {% include "widgets/nullbooleanselect.html" with field=form.separate_dining_room only %}
        {% include "widgets/nullbooleanselect.html" with field=form.separate_toilet only %}
        {% include "widgets/nullbooleanselect.html" with field=form.bathroom only %}
        {% include "widgets/nullbooleanselect.html" with field=form.shower only %}
        {% include "widgets/nullbooleanselect.html" with field=form.separate_entrance only %}

        <div class="form-group {% if form.description.errors %}has-error{% endif %}">
            <label class="control-label" for="{{ form.description.auto_id }}">Informations complémentaires</label>
            {{ form.description }}
            {% if form.description.errors %}
            <p class="text-danger">
                {% for error in form.description.errors %}
                {{ error|escape }}
                {% endfor %}
            </p>
            {% endif %}
        </div>

        {{ block.super }}
        <hr />

        <input type="submit" class="btn btn-primary btn-block" value="Enregistrer votre recherche"/>

    </form>
</div>
</div>
{% endblock %}
