{% extends 'base_single_element.html' %}
{% load bootstrap %}

{% block panel-title %}
Se connecter
{% endblock %}

{% block panel-body %}

{% if form.errors %}
        <div class="alert alert-danger">
            {% for field in form %}
            {% for error in field.errors %}
            {{ field.label }} : {{ error|escape }}<br>
            {% endfor %}
            {% endfor %}
            {% for error in form.non_field_errors %}
            {{ error|escape }}<br>
            {% endfor %}
        </div>
        {% endif %}

<form method="POST" action="{% url 'django.contrib.auth.views.login' %}">
    {% csrf_token %}
    {% include "widgets/input.html" with field=form.username %}
    {% include "widgets/input.html" with field=form.password %}
    <input type="hidden" name="next" value="{{ next }}" />
    <input type="submit" value="Se connecter" class="btn btn-default btn-block btn-primary">
</form>
<p class="alert alert-info">
    <a href="{% url 'password_reset' %}" class="alert-link">Mot de passe perdu ?</a>
</p>


{% endblock %}

