{% extends "base_single_element.html" %}
{% load bootstrap %}

{% block panel-title %}
Réinitialisation du mot de passe
{% endblock %}

{% block panel-body %}
{% if form.errors %}
{{ form.errors }}
{% endif %}
<form method="post" action=".">
    {% csrf_token %}

    <div class="form-group">
        <label>
            {{ form.email.label }}
        </label>
        {{ form.email }}
        {{ form.email.errors }}
    </div>

    <input type="submit" value="Réinitialiser" class="btn btn-default btn-block btn-primary">
</form>
{% endblock %}


