{% extends "base_single_element.html" %}
{% load bootstrap %}


{% block panel-title %}
Réinitialisation du mot de passe
{% endblock %}

{% block panel-body %}
{% if form.errors %}
    {{ form.errors }}
{% endif %}

<form method="post" action=".">



{% csrf_token %}
    <div class="form-group">
        <label>
            {{ form.new_password1.label }}
        </label>
        {{ form.new_password1 }}
        {{ form.new_password1.errors }}
    </div>
    <div class="form-group">
        <label>
            {{ form.new_password2.label }}
        </label>
        {{ form.new_password2 }}
        {{ form.new_password2.errors }}
    </div>
    <input type="submit" value="Valider" class="btn btn-default btn-block">

{% endblock %}
